body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('knigi.jpg');
  color: #fff;
}
* 
{
  box-sizing: border-box;
}
code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


nav
{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
a
{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin: 15px;
}


.home
{
  text-align: center;
  margin-top: 30px;
}
.descr
{
  padding: 0 350px;
  text-align: center;
}
.home p
{
  font-size: 20px;
}
.rasdels 
{
  display: flex;
  justify-content: space-between;
  padding: 0 400px;
  gap: 50px;
}
.r-item 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
}
.home h3
{
  font-size: 20px;
  margin-top: 40px;
}
.home i
{
  font-size: 80px;
  
}


.books-container
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    padding: 20px 150px;
    text-align: center;
}


.book-card img
{
  height: 250px;
  width: auto;
  border-radius: 5px;
}
.book-card
{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}
.book-card p
{
  font-size: 18px;
  margin-top: 5px;
}


.book-about
{
  width: 100%;
  float: left;
  overflow: hidden;
  padding-top: 30px;
}
.book-img
{
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 70px;
}
.book-img img
{
  height: 500px;
  width: auto;
  border-radius: 5px;
  
}
.book-details
{
  width: 60%;
  float: right;
  padding-right: 200px;
  position: relative;
}
.book-details span
{
  font-size: 21px;
  font-weight: 700;
}
.book-details p
{
  font-size: 19px;
}
.btns
{
  padding: 10px 0;
  font-size: 35px;
}
.btns i
{
  margin-right: 20px;
  cursor: pointer;
}


.favorites-item-actions
{
  margin-top:  -58px;
}
.favorites-item-actions i
{
  font-size: 25px;
  cursor: pointer;
}
i.bi-trash-fill
{
  color: red;
  margin-right: 100px;
}



.favorite-item-actions{
  margin-top:  -25px;
  display: flex;
 margin-left: 54px;
  align-items: center;
}
.favorite-item-actions i{
  font-size: 25px;
  cursor: pointer;
}


.cart-page h2
{
  text-align: center;
}
.cart-page p, .favorites-page p
{
  font-size: 19px;
  text-align: center;
}


.favorite-item-actions input
{
  width: 60px;
  height: 25px;
  border-radius: 5px;
}
#cart
{
  margin-right: 20px;
  margin-top: -4px;
}
